.caja-principal{
    height: 600px;
    display: grid;
    grid-template-columns:repeat(3, 1fr) 
    grid-template-rows: repeat (3, 1fr);
    border: 1px, solid, black;
     text-align: center;
}

.caja1{
    border: 1px, solid, black;
    width: 150px;
    height: 150px;
    background-color:aqua ;
    grid-row: 1;
    grid-column: 1/3;
   
}

.caja2{
    border: 1px, solid, black;
    width: 150px;
    height: 150px;
    background-color:red;
    grid-row: 1;
    grid-column: 2/3;
}

.caja3{
    border: 1px, solid, black;
    width: 150px;
    height: 150px;
    background-color:blue;
}
.caja4{
    border: 1px, solid, black;
    width: 150px;
    height: 150px;
    background-color:blueviolet ;
}