.contenedor{
    justify-content: center;
    width: 400px;
    height:400px ;
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows:2, 1fr ;
    margin: 30 px auto;
}
.caja1{
   display: flex;
   align-items: center; 
   justify-content: center;
   border: 1px rgb(7, 7, 7);
}